.logoutButton{
    background-color: rgb(255, 80, 80);
    border-color: rgb(255, 80, 80);
    width: 3.5em;
    height: 3.5em;
    position: absolute;
    top: 20%;
    left: 40%;
    padding: 0px;
    margin: 0px;
    align-items: center;
}