.discuss_container {
    background-color: white;
    align-content: flex-end;
}
.cards {
    padding: 1rem;
    background: #fff;
  }
  
  
  .cards__container {
    display: flex;
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  textarea[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  .posts {
    color: #252e48;  
    width:95%;
      height:80%;
      margin:15px;
    padding:4%;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
  }
  
  .post_username {
    margin:10px;
    font-size: 16px;
    float: left;
  }
  
  .post_userimage {
float: left;
  }

  .post_options {
    float: right;
  }
  
  .options_content {
    position: absolute;
    background-color: #f1f1f1;
    width: 10%;
    min-width: 85px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .options_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .options a:hover {background-color: rgb(255, 253, 253);}
  
  .post_title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .post_body {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
  
  .input-field { 
    text-align: center; 
  } 
  
  .create_newPost {
    text-align: center;
    padding: 40px;
    cursor: context-menu;
    user-select: none;
  }
  
  .icon { 
    font-size: 20px;
    left: 45%;
  } 

  .uicon {
    font-size: 20px;
    left:-45%;
  }
  
 
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .cards__item {
      margin-bottom: 2rem;
    }
  }
  
