/*
Author : Nikunj Goenka
*/
.ParentTabContainer{
    background-color: transparent !important;
    height: inherit;
}
.ParentTabHeader{
	width: 100%;
    color: white;
    font-size: 3vw;
    font-weight: bold;
}
.ParentTabHeader h1{
    width: 100%;
}
.ParentContentContainer{
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.ParentContentContainer::-webkit-scrollbar{
    width:10px;
    background-color:#ffffff00;
} 
.ParentContentContainer::-webkit-scrollbar-track {
    background: #ffffff00; 
    
}
.ParentContentContainer::-webkit-scrollbar-thumb {
    background: #ffbd0a;
}
.ParentContentContainer::-webkit-scrollbar-thumb:hover {
    background: #FA7C92;
}
