/**
 * @author Nikunj Goenka
 * @email nikunjgoenka@dal.ca
 * @create date 2021-03-31 21:31:56
 * @modify date 2021-03-31 21:32:06
 * @desc Css For notifications
 */
.toast{
    position: absolute;
    width: 25%;
    z-index: 2;
    color: #fff;
    transition: transform .6s ease-in;
    animation: toast-in-left .7s;
}

.toast-header, .toast-header button{
    color: #fff;
    background-color: unset;
}
